<h1>New Scraping Text</h1>
<%# render 'form', scraping_text: @scraping_text %>

<%= form_with(model: @scraping_text, local: true) do |form| %>
  <% if @scraping_text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scraping_text.errors.count, "error") %> prohibited this scraping_text from being saved:</h2>

      <ul>
      <% @scraping_text.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, value: @scraping_body, size: '100x10' %>
  </div>

  <div class="field">
    <%= form.label :scraping_page_id %>
    <%= form.text_field :scraping_page_id, value: @scraping_page_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', scraping_texts_path %>
