<p id="notice"><%= notice %></p>

<h1>Scraping Pages</h1>

<table>
  <thead>
    <tr>
      <th>Page url</th>
      <th>Scraping frequency</th>
      <th>Target element</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scraping_pages.each do |scraping_page| %>
      <tr>
        <td><%= scraping_page.page_url %></td>
        <td><%= scraping_page.scraping_frequency %></td>
        <td><%= scraping_page.target_element %></td>
        <td><%= scraping_page.active %></td>
        <td><%= link_to 'Show', scraping_page %></td>
        <td><%= link_to 'Edit', edit_scraping_page_path(scraping_page) %></td>
        <td><%= link_to 'Destroy', scraping_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scraping Page', new_scraping_page_path %>
