<p id="notice"><%= notice %></p>

<h1>Scraped Codes</h1>

<table>
  <thead>
    <tr>
      <th>Scraping Page ID</th>
      <th>Html</th>
      <th>Text</th>
      <th>Scraping page</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scraped_codes.each do |scraped_code| %>
      <tr>
        <td><%= scraped_code.scraping_page_id %></td>
        <td class="code" title="<%= scraped_code.html %>"><%= scraped_code.html %></td>
        <td class="code" title="<%= scraped_code.text %>"><%= scraped_code.text %></td>
        <td><%= scraped_code.scraping_page %></td>
        <td><%= link_to 'Show', scraped_code %></td>
        <td><%= link_to 'Edit', edit_scraped_code_path(scraped_code) %></td>
        <td><%= link_to 'Destroy', scraped_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
